@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

table.bbs-list tbody td a:link, table.bbs-list tbody td a:visited, table.bbs-list tbody td  a:active {
	color:#666666;
}

table.bbs-list tbody td a:hover {
	color:#b31b1b;
}

table.bbs-list {
	width: 100%;
	border-top: solid 2px #b31b1b;
	border-bottom: solid 1px #e3e3e3 !important;
	table-layout: fixed;
}

table.bbs-list thead th,
table.bbs-list tbody td {
	padding:6px 0 5px 0;
	line-height:16px;
	border-bottom: solid 1px #e3e3e3;
	font-size: 12px;
	text-align: center;
	color: #999999;
}

table.bbs-list thead th {
	background: url('../image/bbs_header.gif') left top repeat-x;
}

.head-menu {
	height: 5%;
	background-color: #b31b1b;
}

.body-img {
	background: url("../image/cut.png") no-repeat fixed center;
	width: 100%;
	height: 55%;
}

.body-bottom {
	height: 40%;
}

.thumbnail {
	width: 200px;
	height: 150px;
}

.paginate {
	width: 100%;
	height: 100%;
}

.num {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	min-width: 14px;
	_width: 14px; 
	height: 14px;
	padding: 2px;
	text-decoration: none;
	line-height: normal;
	border: 1px solid #fff;
	text-decoration: none;
	text-align: center;
}

.num:hover {
	text-decoration: underline;
	color: #00b2e0;
	border: 1px solid #7fd8ef;
	text-decoration: none;
}

@media screen and (max-width: 400px) {
    body {
        background-color: #b31b1b;
    }
}