@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
	font-family: 'Nanum Gothic', sans-serif; padding: 0px; margin: 0px;
}

a {
	text-decoration: none; color: black;
}

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

table.bbs-list tbody td a:link, table.bbs-list tbody td a:visited, table.bbs-list tbody td  a:active {
	color:#666666;
}

table.bbs-list tbody td a:hover {
	color:#b31b1b;
}

table.bbs-list {
	border-top: solid 2px #b31b1b; border-bottom: solid 1px #e3e3e3 !important; table-layout: fixed; border-spacing: 0; margin: 100px 0 0 0; width: 80%;
}

table.bbs-list thead th, table.bbs-list tbody td {
	padding: 6px 0 5px 0; line-height: 16px; border-bottom: solid 1px #e3e3e3; font-size: 12px; text-align: center; color: #999999;
}

table.bbs-list thead th {
	background: url('../image/bbs_header.gif') left top repeat-x;
}

.head-menu {
	width: 100%; height: 30px; background-color: #b31b1b; position: inherit;
}

.head-a {
	color: #ffffff; padding: 0 10px; font-size: 9px; letter-spacing: 1px; margin-top: 2px; margin-bottom: 2px;
}

.nav-div {
	padding: 5px; float: left; width: auto; height: 40px;
}

.body {
	width:100%;
}

.main-img{
	position:absolute;
	z-index:2;
}

.main-menu{
	position:absolute;
	color: white;
	z-index:4;
}

.text{
	position:absolute;
	z-index:3;
	color:white;
}

.main-content {
	position:relative;
	z-index:1;
	background:green;
	height: 50%; width: 100%;
}

#side_menu {position: absolute; max-width:150px; border: 1px solid #dcdcdc; float: left; padding: 0 0 0 0; margin-top: 70px; margin-left: 30px; margin-right: 50px; text-align: left;}

.floating {
	width: 150px; float: left; border-style: solid; border-color: #dcdcdc; border-width: 1px 1px 1px 1px;
	margin-top: 50px; margin-left: 50px; margin-right: 50px;
}

.small-title {float: left; width: 80%;}
.small-title img {padding: 0 10px 1px 2px;}
.nav-title {font-size: 12px;}
.content {
	position: relative; margin-left: 22%; padding-top: 8%; padding-bottom: 8%;
}

.body-bottom {
	height: 40%; background-color: #313131; position: inherit;
}

#footer {
	clear: both;
	height: 102px;
	border-top: 1px #313131 solid;
	background: #313131;
	z-index:3;
	clear: both; height: 102px; border-top: 1px #313131 solid; background: #313131;
}

#footer div.inner {
	position: relative; z-index: 0; padding-top: 25px; padding-left: 30px; width: 930px;
}

#footer ul.links {
	height: 20px; color: #666;
}

#footer ul {
	list-style: none; margin: 0px; padding: 0px;
}

#footer ul li.first-child {
	padding-left: 0px; background: none;
}

#footer ul li {
	float: left; margin: 0px; padding: 0 10px 0 10px; font-size: 11px; letter-spacing: -1px;
}

.paginate {
	height: 100%; text-align: center; margin-bottom: 100px;
}

.num {
	position: relative; display: inline-block; vertical-align: middle; min-width: 14px; _width: 14px; height: 14px; padding: 2px; text-decoration: none;
	line-height: normal; border: 1px solid #fff; text-decoration: none; text-align: center;
}

.num:hover {
	text-decoration: underline; color: #00b2e0; border: 1px solid #7fd8ef; text-decoration: none;
}
